surf/.surf/cookies.txt
surf/.surf/cache
neovim/.config/nvim/plugins/
neovim/.local/share/nvim/shada
neovim/.local/share/recently-used.xbel
weechat/.weechat/weechat.log
weechat/.weechat/logs
weechat/.weechat/script/plugins.xml.gz
